
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">NICL List</h3>
        </div>
        <div class="panel-body">

            <fieldset>
                <legend>Group List</legend>
                <form role="form">
                    <div class="row">

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Please Select your group</label>
                                <select class="form-control" ng-model="NICLListCtrl.selectedGroupID"
                                        ng-change="NICLListCtrl.getNICLHeadByGroupID()">
                                    <option ng-repeat="group in NICLListCtrl.groups | orderBy: 'id'"
                                            value="{{group.id}}">
                                        {{group.name}}
                                    </option>
                                </select>
                                Selected GroupID: {{NICLListCtrl.selectedGroupID}}
                            </div>
                        </div>

                       </div>

                </form>
            </fieldset>

            <fieldset>
                <legend>NICL List</legend>
                <form role="form">
                    <div>


                        <table class="table table-striped" ng-model="NICLListCtrl.NICLHeadList">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>File Name</th>
                                <th>Template</th>
                                <th>User Name</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="NICLHead in NICLListCtrl.NICLHeadList | orderBy:'id'">
                                <td>{{NICLHead.id}}</td>
                                <td>
                                    <a href="reviewForm" ng-click="NICLListCtrl.passNICLHID(NICLHead.id)">{{NICLHead.name}}</a>
                                </td>
                                <td>{{NICLHead.template.name}}</td>
                                <td>{{NICLHead.owner}}</td>
                                <td>{{NICLHead.status}}</td>
                            </tr>

                            </tbody>
                        </table>


                    </div>

                </form>
            </fieldset>
        </div>



    </div>

    <div class="panel panel-default" ng-if="NICLListCtrl.seletedNICLContentList.length > 0">
        <div class="panel-heading">
            <h3 class="panel-title">Selected Form Detail</h3>
        </div>
        <div class="panel-body">


                <div class="panel-body">
                    <table class="table resultform" style="margin-top: 15px;">
                        <thead>
                        <tr class="title">
                            <th colspan="4"><h1 class="panel-title">New Investment Checklist: {{NICLListCtrl.selectedNICLHead.name}}</h1></th>
                        </tr>
                        <tr >
                            <th colspan="4" >OVERVIEW</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="content in  NICLListCtrl.seletedNICLContentList | orderBy:'id'" >

                        <tr ng-if="$even">
                            <td style="background-color: darkgrey; font-weight:bold;">{{NICLListCtrl.seletedNICLContentList[$index].attribute.name}}</td>
                            <td>{{NICLListCtrl.seletedNICLContentList[$index].value}}</td>
                            <td style="background-color: darkgrey;font-weight:bold;">{{NICLListCtrl.seletedNICLContentList[$index+1].attribute.name}} </td>
                            <td>{{NICLListCtrl.seletedNICLContentList[$index+1].value}}</td>
                        </tr>

                        </tbody>
                    </table>

                </div>




        </div>

    </div>
</div>


<a href="reviewForm" >go to review page</a>

