<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Attribute Management</h3>
        </div>
        <div class="panel-body">
            <fieldset>
                <legend>
                    Attribute Generator
                </legend>
                <form role="form" ng-model="attrCtrl.newAttribute">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="attributeName">Attribute Name</label>
                                <input type="text" class="form-control" ng-model="attrCtrl.newAttribute.name" id="attributeName"
                                       placeholder="Enter Attribute Name" name="attributeName"/>
                            </div>
                            <div class="form-group">
                                <label>Attribute Description</label>
                                <textarea class="form-control"  rows="3" ng-model="attrCtrl.newAttribute.description"
                                          placeholder="Enter Attribute Description"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Type</label>
                                <label class="radio-inline">
                                    <input name="attributeType" id="attributeType1" ng-model="attrCtrl.newAttribute.type" type="radio" checked="" value="text"/>Text
                                </label>
                                <label class="radio-inline">
                                    <input name="attributeType" id="attributeType2" ng-model="attrCtrl.newAttribute.type" type="radio" value="dropdown"/>Dropdown
                                </label>

                            </div>
                            <div ng-if="attrCtrl.newAttribute.type=='dropdown'" class="form-group">
                                <label>Dropdown Values (Please Separate By ';')</label>
                                <textarea class="form-control"  rows="3"
                                          placeholder="Enter Attribute Dropdown Values" ng-model="attrCtrl.dropdownValues"></textarea>
                            </div>


                        </div>

                    </div>

                    <button class="btn btn-primary" type="button" ng-click="attrCtrl.saveNewAttribute()">
                        Create <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                    <button type="reset" value="Reset" class="btn btn-link"
                            ng-click="attrCtrl.resetNewAttribute()">Clear</button>
                </form>
            </fieldset>

            <fieldset>
                <legend>
                    Attribute Pool
                </legend>
                <table class="table table-striped" ng-model="attrCtrl.attributes">
                    <thead>
                    <tr>
                        <th style="width:5%">ID</th>
                        <th style="width:15%">Name</th>
                        <th style="width:10%">Type</th>
                        <th style="width:40%">Description</th>
                        <th>Value</th>
                    </tr>
                    <tbody>
                    <tr ng-repeat="attr in attrCtrl.attributes">
                        <td>{{attr.id}}</td>
                        <td>{{attr.name}}</td>
                        <td>{{attr.type}}</td>
                        <td >{{attr.description}}</td>
                        <td ng-if=!attrCtrl.isDropdownValue(attr.type)>
                        </td>
                        <td ng-if=attrCtrl.isDropdownValue(attr.type)>
                            <div class="form-group">
                                <select class="form-control">
                                    <option ng-repeat="value in attr.attributeValues | orderBy: 'value'">{{value.value}} </option>
                                </select>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                    </thead>
                </table>
            </fieldset>

        </div>
    </div>
</div>



