<div class="container">

    <br>
    <h2>Attribute Management</h2>
    <table class="table table-striped" ng-model="attrCtrl.attributes">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        <tbody>
        <tr ng-repeat="attr in attrCtrl.attributes">
            <td>{{attr.id}}</td>
            <td>{{attr.name}}</td>
            <td>{{attr.type}}</td>
            <td>{{attr.description}}</td>
        </tr>
        </tbody>
        </thead>
    </table>


    <form ng-model="attrCtrl.newAttribute">

        <div class="form-group">
            <label for="attributeName">Attribute Name: </label>
            <input type="text" class="form-control" ng-model="attrCtrl.newAttribute.name" id="attributeName"
                   placeholder="Enter Attribute Name" name="attributeName"/>
        </div>

        <div class="form-group">


            <button class="btn btn-primary" type="button" ng-click="attrCtrl.saveNewAttribute()">
                Create <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
            <button type="reset" value="Reset" class="btn btn-link"
                    ng-click="attrCtrl.resetNewAttribute()">Clear</button>

        </div>
    </form>
</div>