<div class="container">
    <br>
    <h2>Group Management</h2>
    <div>
    <table class="table table-striped" ng-model="groupsCtrl.groups">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>

        <tbody>
        <tr ng-repeat="group in groupsCtrl.groups">
            <td>{{group.id}}</td>
            <td>{{group.name}}</td>

        </tr>
        </tbody>
        </thead>
    </table>
    </div>
    <div>

    <form ng-model="groupsCtrl.newGroup">

        <div class="form-group">
            <label for="groupName">Group Name: </label>
            <input type="text" class="form-control" ng-model="groupsCtrl.newGroup.name" id="groupName"
                   placeholder="Enter Group Name" name="groupName"/>

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary"
                    ng-click="groupsCtrl.saveNewGroup()">Submit
            </button>
            <button type="reset" value="Reset" class="btn btn-default"
                    ng-click="groupsCtrl.resetNewGroup()">Clear</button>
        </div>
    </form>
    </div>
</div>