<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Mockup Page For NICL</h3>
        </div>

        <!--for testing-->

        <!--this is generate form head page-->
        <div class="panel-body" ng-if="!NICLCtrl.showFormFlag && !NICLCtrl.showResultFlag">
            <fieldset>
                <legend>Form Basic Info</legend>
                <form role="form" name="niclform">
                    <div class="row" ng-model="NICLCtrl.newNICLHead">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Please Select your group</label>
                                <select class="form-control" ng-model="NICLCtrl.selectedGroupID"
                                        ng-change="NICLCtrl.getGroupTemplates()">
                                    <option ng-repeat="group in NICLCtrl.groups"
                                            value="{{group.id}}">
                                        {{group.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>User Name</label>
                                <input name="username" ng-model="NICLCtrl.newNICLHead.owner" class="form-control"
                                       type="text"
                                       placeholder="Please Enter Your Name" required/>
                                <span ng-show="niclform.username.$touched && niclform.username.$invalid">The user name is required.</span>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Form Name</label>
                                <input name="formname" ng-model="NICLCtrl.newNICLHead.name" class="form-control"
                                       type="text"
                                       placeholder="Please Enter Form Name" required/>
                                <span ng-show="niclform.formname.$touched && niclform.formname.$invalid">The form name is required.</span>

                            </div>
                        </div>
                    </div>

                </form>
            </fieldset>

            <fieldset>
                <legend>Template List</legend>
                <form role="form">
                    <div>
                        <table class="table table-striped" ng-model="NICLCtrl.templates">
                            <thead>
                            <tr>
                                <th>Template Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="template in NICLCtrl.templates|orderBy:'id'">
                                <td>
                                    <div class="radio">
                                        <label><input type="radio"
                                                      ng-model="NICLCtrl.selectedTemplateID"
                                                      value="{{template.id}}" ng-change="NICLCtrl.getTemplateByID()">{{template.name}}</label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                    <button ng-disabled="niclform.$invalid" type="submit" class="btn btn-primary" data-toggle="modal"
                            data-target="#confirmModal">Confirm
                    </button>
                    <button type="reset" class="btn btn-default" value="Reset" ng-click="NICLCtrl.clearAll()">Reset
                    </button>
                </form>
            </fieldset>


        </div>


        <!--this is for the action of filling form-->
        <div class="panel-body" ng-if="NICLCtrl.showFormFlag">
            <table class="resultform"
                   ng-repeat="section in NICLCtrl.templateVO.sections | orderBy:'section_order'"
                   ng-if="!section.static" width="100%">
                <tbody>
                <tr class="title">
                    <th><h1 class="panel-title">{{section.name|uppercase}}</h1></th>
                </tr>
                <tr>
                    <td>
                        <table width="100%">
                            <tbody ng-repeat="sectionAttribute in section.sectionAttributes | orderBy:'order'">
                            <tr ng-if="$even">
                                <td class="attrname">
                                    {{section.sectionAttributes[$index].attribute.name}}

                                    <a ng-if="section.sectionAttributes[$index].attribute.description" href="#"
                                       data-toggle="tooltip"
                                       title="{{section.sectionAttributes[$index].attribute.description}}">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </a>

                                </td>
                                <td ng-if=!NICLCtrl.isDropdownValue(section.sectionAttributes[$index].attribute.type)>
                                    <input class="form-control" type="text" required
                                           id="{{section.sectionAttributes[$index].attribute.name}}"
                                           data-ng-model="section.sectionAttributes[$index].attribute.inputValue"
                                           placeholder="Please Enter {{section.sectionAttributes[$index].attribute.name}} value"/>
                                </td>
                                <td ng-if=NICLCtrl.isDropdownValue(section.sectionAttributes[$index].attribute.type)>
                                    <select class="form-control"
                                            data-ng-model="section.sectionAttributes[$index].attribute.inputValue"
                                            required>
                                        <option ng-repeat="option in section.sectionAttributes[$index].attribute.attributeValues"
                                                value="{{option.value}}">{{option.value}}
                                        </option>
                                    </select>
                                </td>


                                <td class="attrname">
                                    {{section.sectionAttributes[$index+1].attribute.name}}
                                    <a ng-if="section.sectionAttributes[$index+1].attribute.description" href="#"
                                       data-toggle="tooltip"
                                       title="{{section.sectionAttributes[$index+1].attribute.description}}">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </a>
                                </td>
                                <td ng-if=!NICLCtrl.isDropdownValue(section.sectionAttributes[$index+1].attribute.type)>
                                    <input class="form-control" type="text" required
                                           id="{{section.sectionAttributes[$index+1].attribute.name}}"
                                           data-ng-model="section.sectionAttributes[$index+1].attribute.inputValue"
                                           placeholder="Please Enter {{section.sectionAttributes[$index+1].attribute.name}} value"/>
                                </td>
                                <td ng-if=NICLCtrl.isDropdownValue(section.sectionAttributes[$index+1].attribute.type)>
                                    <select class="form-control"
                                            data-ng-model="section.sectionAttributes[$index+1].attribute.inputValue"
                                            required>
                                        <option ng-repeat="option in section.sectionAttributes[$index+1].attribute.attributeValues"
                                                value="{{option.value}}">{{option.value}}
                                        </option>
                                    </select>
                                </td>


                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>


            <table class="resultform" width="100%"
                   ng-repeat="section in NICLCtrl.templateVO.sections | orderBy:'section_order'"
                   ng-if="section.static">
                <!--section for Schedule -->
                <tbody ng-if="section.name=='Schedule'">
                <tr class="title">
                    <th><h1 class="panel-title">SCHEDULE</h1></th>
                </tr>
                <tr>
                    <td>
                        <table width="100%">

                            <tbody ng-repeat="sectionAttribute in section.sectionAttributes | orderBy:'order'">

                            <tr ng-if="$even">
                                <td style="text-align: center" colspan="2">{{section.sectionAttributes[$index].attribute.name}}</td>

                                <td style="text-align: center" colspan="2">{{section.sectionAttributes[$index+1].attribute.name}}</td>

                            </tr>
                            <tr ng-if="$even">
                                <td class="attrname">Date</td>
                                <td>
                                    <input class="form-control" type="text" required
                                           data-ng-model="section.sectionAttributes[$index].attribute.inputValue"
                                           placeholder="Please Enter {{section.sectionAttributes[$index].attribute.name}} value"/>
                                </td>
                                <td class="attrname">Date</td>
                                <td>
                                    <input class="form-control" type="text" required
                                           data-ng-model="section.sectionAttributes[$index+1].attribute.inputValue"
                                           placeholder="Please Enter {{section.sectionAttributes[$index+1].attribute.name}} value"/>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                </tbody>
                <!--section for Schedule end-->
                <!--section for Finance contact end-->
                <tbody ng-if="section.name=='Finance Contact'">

                    <tr class="title">
                        <th><h1 class="panel-title">FINANCE CONTACT(LOAN/ ADMIN AGENT)</h1></th>
                    </tr>
                <tr>
                    <td>
                        <table width="100%">
                            <tbody ng-repeat="sectionAttribute in section.sectionAttributes | orderBy:'order'">

                            <tr >
                                <td class="attrname">{{sectionAttribute.attribute.name}}</td>
                                <td style="width:75%">
                                    <input class="form-control" type="text" required
                                           id="{{sectionAttribute.attribute.name}}"
                                           data-ng-model="sectionAttribute.attribute.inputValue"
                                           placeholder="Please Enter {{sectionAttribute.attribute.name}} value"/>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                    <tr class="title">
                        <th><h1 class="panel-title">COMMNETS</h1></th>
                    </tr>
                    <tr>
                        <td width="100%">
                            <p>
                                Please attach investment recommendation, wire instructions, appropriate internal approvals, singed purchase,
                                 legal agreements, and flowchart showing the structure of the investment. Please attach a term sheet which includes, a summary
                                of debt structure of the investment, the structure of hte investing group (partnership or direct interest), the number of
                                certificates expected & where they will be held.
                            </p>
                        </td>
                    </tr>
                </tbody>

                <tbody ng-if="section.name=='Audit'">
                <tr class="title">
                    <td style="text-align: center">
                        PREPARED BY:
                    </td>
                    <td style="text-align: center">
                        REVIEWED BY:
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table width="100%">

                            <tbody ng-repeat="sectionAttribute in section.sectionAttributes | orderBy:'order'">


                            <tr ng-if="$even">
                                <td class="attrname" colspan="2">{{section.sectionAttributes[$index].attribute.name}}</td>

                                <td><input class="form-control" type="text" required
                                           data-ng-model="section.sectionAttributes[$index].attribute.inputValue"
                                           placeholder="Please Enter {{section.sectionAttributes[$index].attribute.name}} value"/></td>

                                <td class="attrname" colspan="2">{{section.sectionAttributes[$index+1].attribute.name}}</td>
                                <td><input class="form-control" type="text" required
                                            data-ng-model="section.sectionAttributes[$index+1].attribute.inputValue"
                                            placeholder="Please Enter {{section.sectionAttributes[$index+1].attribute.name}} value"/></td>


                            </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>

                </tbody>
            </table>


            <button type="submit" class="btn btn-primary" ng-click="NICLCtrl.showReviewForm()">Confirm</button>
            <button type="reset" value="Reset" ng-click="NICLCtrl.resetForm()" class="btn btn-default">Reset</button>
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#goBackModal">Go Back
            </button>
            <br>


        </div>


        <!--this is for the overview of filling form-->
        <div class="panel-body" ng-if="!NICLCtrl.showFormFlag && NICLCtrl.showResultFlag">


            <table class="resultform"
                   ng-repeat="section in NICLCtrl.templateVO.sections | orderBy:'section_order'"
                   ng-if="!section.static" width="100%">
                <tbody>
                <tr class="title">
                    <th><h1 class="panel-title">{{section.name|uppercase}}</h1></th>
                </tr>
                <tr>
                    <td>
                        <table class="innertable" width="100%">
                            <tbody ng-repeat="sectionAttribute in section.sectionAttributes | orderBy:'order'">
                            <tr ng-if="$even">
                                <td class="attrname">
                                    {{section.sectionAttributes[$index].attribute.name}}

                                </td>
                                <td>{{section.sectionAttributes[$index].attribute.inputValue}}
                                </td>



                                <td class="attrname">
                                    {{section.sectionAttributes[$index+1].attribute.name}}
                                </td>
                                <td>{{section.sectionAttributes[$index+1].attribute.inputValue}}
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>


            <table class="resultform" width="100%"
                   ng-repeat="section in NICLCtrl.templateVO.sections | orderBy:'section_order'"
                   ng-if="section.static">
                <!--section for Schedule -->
                <tbody ng-if="section.name=='Schedule'">
                <tr class="title">
                    <th><h1 class="panel-title">SCHEDULE</h1></th>
                </tr>
                <tr>
                    <td>
                        <table class="innertable" width="100%">

                            <tbody ng-repeat="sectionAttribute in section.sectionAttributes | orderBy:'order'">

                            <tr ng-if="$even">
                                <td style="text-align: center" colspan="2">{{section.sectionAttributes[$index].attribute.name}}</td>

                                <td style="text-align: center" colspan="2">{{section.sectionAttributes[$index+1].attribute.name}}</td>

                            </tr>
                            <tr ng-if="$even">
                                <td class="attrname">Date</td>
                                <td>{{section.sectionAttributes[$index].attribute.inputValue}}
                                </td>
                                <td class="attrname">Date</td>
                                <td>{{section.sectionAttributes[$index+1].attribute.inputValue}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                </tbody>
                <!--section for Schedule end-->
                <!--section for Finance contact end-->
                <tbody ng-if="section.name=='Finance Contact'">

                <tr class="title">
                    <th><h1 class="panel-title">FINANCE CONTACT(LOAN/ ADMIN AGENT)</h1></th>
                </tr>
                <tr>
                    <td>
                        <table class="innertable" width="100%">
                            <tbody >
                            <tr><td></td><td></td><td></td><td></td></tr>

                            <tr ng-repeat="sectionAttribute in section.sectionAttributes | orderBy:'order'">
                                <td class="attrname">{{sectionAttribute.attribute.name}}</td>
                                <td colspan="3">{{sectionAttribute.attribute.inputValue}}
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="title">
                    <th><h1 class="panel-title">COMMNETS</h1></th>
                </tr>
                <tr>
                    <td colspan="4">
                        <p>
                            Please attach investment recommendation, wire instructions, appropriate internal approvals, singed purchase,
                            legal agreements, and flowchart showing the structure of the investment. Please attach a term sheet which includes, a summary
                            of debt structure of the investment, the structure of hte investing group (partnership or direct interest), the number of
                            certificates expected & where they will be held.
                        </p>
                    </td>
                </tr>
                </tbody>

                <tbody ng-if="section.name=='Audit'">
                <tr class="title">
                    <td style="text-align: center">
                        PREPARED BY:
                    </td>
                    <td style="text-align: center">
                        REVIEWED BY:
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="innertable" width="100%">

                            <tbody ng-repeat="sectionAttribute in section.sectionAttributes | orderBy:'order'">


                            <tr ng-if="$even">
                                <td class="attrname" colspan="2">{{section.sectionAttributes[$index].attribute.name}}</td>

                                <td>{{section.sectionAttributes[$index].attribute.inputValue}}</td>

                                <td class="attrname" colspan="2">{{section.sectionAttributes[$index+1].attribute.name}}</td>
                                <td>{{section.sectionAttributes[$index+1].attribute.inputValue}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>

                </tbody>
            </table>













            <button type="submit" class="btn btn-primary" ng-click="NICLCtrl.submitContent()">Confirm</button>
            <button type="button" ng-click="NICLCtrl.backToForm()" class="btn btn-default">Go Back</button>
        </div>

    </div>
</div>


<div class="modal fade" id="confirmModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please Confirm Your Selection</h4>
            </div>
            <div class="modal-body">
                <p>Name: {{NICLCtrl.newNICLHead.owner}}<br>
                    Template Name: {{NICLCtrl.selectedTemplate.name}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" ng-click="NICLCtrl.showForm()" class="btn btn-primary" data-dismiss="modal">
                    Confirm
                </button>

            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="goBackModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning</h4>
            </div>
            <div class="modal-body">
                <Strong>Do you want to give up the form: {{NICLCtrl.newNICLHead.name}}</Strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="submit" ng-click="NICLCtrl.clearAll()" class="btn btn-primary" data-dismiss="modal">
                    Yes
                </button>

            </div>
        </div>

    </div>
</div>

